* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
}

#nav {
    background-color: rgb(19, 130, 200);
}

#nav-box {
    width: 1280px;
    margin: auto;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
}

ul > li:nth-child(1) > a {
    font-size: 1.2rem;
    color: white;
}

ul, li {
    list-style: none;
}

ul {
    float: left;
    overflow: hidden;
}

li {
    float: left;
    padding: 5px 15px;
}

#nav-box > div {
    float: right;
    padding: 5px 15px;
}

li > a, #nav-box > div > a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}



